/* Add CSS Styling */
.number1, 
.number3, 
.number5 {
    background-color: hsl(350, 100%, 88%);
    font-family: verdana, "DejaVu Sans", sans-serif;
}
#number2 {
    color: #0000ff;
    font-size: 36px;
}
.number3 {
    font-size: 24px;

}
#number4 {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}

