body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 2px solid red;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  border: 2px solid rgb(0, 51, 255);
  font-size: 16px;
  padding: 8px;
  /* that is different from the code in solutions.css  */

}

.content {
  background: #e3f4ff;
  border: 2px solid rgb(232, 26, 177);
  padding: 8px;
  margin-bottom: 8px;
  /* that is different from the code in solutions.css  */

}

.button-container {
  background: #e3f4ff;
  border: 2px solid rgb(0, 255, 98);
  text-align: center;
  padding:8px;
  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px;
  margin: auto;
/* that is different from the code in solutions.css  */
}