body {
  font-family: Arial, Helvetica, sans-serif;
}
/* my code is correct but take a look at solution.css */
/* here it's not the same  */
.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para.small-para {
  font-size: 14px;
}

.para {
  font-size: 22px;
}
/* the buttons features in my code is same as in the solution */
#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}
/* also here it's the same  */
.text.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

